---
import BaseLayout from "../../../../layouts/BaseLayout.astro";
import Sidebar from "../../../../components/Sidebar.astro";
---

<BaseLayout
  title="RSA Decryption - Web Tools"
  description="This online tool helps you decrypt messages using RSA. It supports PKCS#1 and OAEP with various hash algorithms. You can also use PEM with a passphrase."
>
  <div id="app">
    <Sidebar activePage="cryptography/rsa/decrypt" />
    <div id="content">
      <div class="top-nav">
        <button id="sidebar-toggler" aria-controls="sidebar" aria-expanded="false" aria-label="Menu"
          ><img src="/images/menu.svg" width="24" height="24" alt="Menu" /></button
        >
      </div>
      <header>
        <h1>RSA Decryption</h1>
        <p>
          This online tool helps you decrypt messages using RSA. It supports PKCS#1 and OAEP with various hash
          algorithms. You can also use PEM with a passphrase.
        </p>
      </header>
      <main>
        <div class="layout">
          <div class="layout-block">
            <div class="input">
              <div class="block block-fill">
                <div class="block-title">
                  Input
                  <div class="toolbar">
                    <button class="icon" data-toggle="fullscreen"
                      ><img class="fullscreen-icon" src="/images/fullscreen.svg" alt="Full Screen" title="Full Screen" /><img
                        class="fullscreen-icon-exit"
                        src="/images/fullscreen-exit.svg"
                        alt="Full Screen"
                        title="Full Screen"
                      /></button
                    >
                  </div>
                </div>
                <textarea
                  class="container"
                  id="input"
                  spellcheck="false"
                  placeholder="Enter here..."
                  data-remember="input"
                  data-share="input"
                  data-encoding-from="#input-type"
                  data-auto-update
                  data-toggle="monacoEditor"></textarea>
              </div>
            </div>
            <div class="output">
              <div class="block block-fill">
                <div class="block-title">
                  Output
                  <div class="toolbar">
                    <button class="icon" data-toggle="copy" data-clipboard-target="#output" data-message="Output copied"
                      ><img src="/images/copy.svg" alt="Copy" title="Copy" /></button
                    >
                    <button class="icon" data-toggle="fullscreen"
                      ><img class="fullscreen-icon" src="/images/fullscreen.svg" alt="Full Screen" title="Full Screen" /><img
                        class="fullscreen-icon-exit"
                        src="/images/fullscreen-exit.svg"
                        alt="Full Screen"
                        title="Full Screen"
                      /></button
                    >
                  </div>
                </div>
                <textarea
                  class="container"
                  id="output"
                  spellcheck="false"
                  placeholder="Output here..."
                  data-encoding-from="#output-type"
                  data-toggle="monacoEditor"
                  readonly="readonly"></textarea>
              </div>
              <details class="block text-only" data-toggle="copyblock">
                <summary class="block-title"
                  >Share Link<div class="toolbar">
                    <button class="icon" data-toggle="copy" data-clipboard-target="#share-link" data-message="Share link copied"
                      ><img src="/images/copy.svg" alt="Copy" title="Copy" /></button
                    >
                  </div></summary
                >
                <input id="share-link" type="text" placeholder="Share Link" readonly="readonly" />
              </details>
            </div>
          </div>
          <div class="settings">
            <div class="block block-fill">
              <div class="block-title">Settings</div>
              <div class="container">
                <div class="setting"><a class="btn" id="execute">Decrypt</a></div>
                <div class="setting">
                  <label class="switcher"
                    ><input type="checkbox" value="1" id="auto-update" checked /><div class="toggle"></div>
                    <span>Auto Update</span></label
                  >
                </div>
                <div class="setting">
                  <label class="switcher"
                    ><input type="checkbox" value="1" id="remember-input" /><div class="toggle"></div>
                    <span>Remember Input</span></label
                  >
                </div>
                <div class="setting">
                  <label for="input-type">Input Encoding</label><select
                    data-toggle="encoding"
                    id="input-type"
                    data-remember="input-type"
                    data-share="input_type"
                    data-auto-update
                  >
                    <option value="hex">Hex</option>
                    <option value="base64" data-load-encoding="base64">Base64</option>
                  </select>
                </div>
                <div class="setting">
                  <label for="output-type">Output Encoding</label><select
                    data-toggle="encoding"
                    id="output-type"
                    data-remember="output-type"
                    data-share="output_type"
                    data-auto-update
                  >
                    <optgroup label="Binary">
                      <option value="hex">Hex (Lower Case)</option>
                      <option value="hex_upper">Hex (Upper Case)</option>
                      <option value="base64" data-load-encoding="base64">Base64</option>
                    </optgroup>
                    <optgroup label="Text">
                      <option value="utf-8" data-load-encoding="1" selected>UTF-8</option>
                      <option value="utf-16le" data-load-encoding="1">UTF-16LE</option>
                      <option value="utf-16be" data-load-encoding="1">UTF-16BE</option>
                      <option value="ibm866" data-load-encoding="2">IBM866</option>
                      <option value="iso-8859-2" data-load-encoding="2">ISO-8859-2</option>
                      <option value="iso-8859-3" data-load-encoding="2">ISO-8859-3</option>
                      <option value="iso-8859-4" data-load-encoding="2">ISO-8859-4</option>
                      <option value="iso-8859-5" data-load-encoding="2">ISO-8859-5</option>
                      <option value="iso-8859-6" data-load-encoding="2">ISO-8859-6</option>
                      <option value="iso-8859-7" data-load-encoding="2">ISO-8859-7</option>
                      <option value="iso-8859-8" data-load-encoding="2">ISO-8859-8</option>
                      <option value="iso-8859-8-i" data-load-encoding="2">ISO-8859-8-I</option>
                      <option value="iso-8859-10" data-load-encoding="2">ISO-8859-10</option>
                      <option value="iso-8859-13" data-load-encoding="2">ISO-8859-13</option>
                      <option value="iso-8859-14" data-load-encoding="2">ISO-8859-14</option>
                      <option value="iso-8859-15" data-load-encoding="2">ISO-8859-15</option>
                      <option value="iso-8859-16" data-load-encoding="2">ISO-8859-16</option>
                      <option value="koi8-r" data-load-encoding="2">KOI8-R</option>
                      <option value="koi8-u" data-load-encoding="2">KOI8-U</option>
                      <option value="macintosh" data-load-encoding="2">macintosh</option>
                      <option value="windows-874" data-load-encoding="2">Windows-874</option>
                      <option value="windows-1250" data-load-encoding="2">Windows-1250</option>
                      <option value="windows-1251" data-load-encoding="2">Windows-1251</option>
                      <option value="windows-1252" data-load-encoding="2">Windows-1252</option>
                      <option value="windows-1253" data-load-encoding="2">Windows-1253</option>
                      <option value="windows-1254" data-load-encoding="2">Windows-1254</option>
                      <option value="windows-1255" data-load-encoding="2">Windows-1255</option>
                      <option value="windows-1256" data-load-encoding="2">Windows-1256</option>
                      <option value="windows-1257" data-load-encoding="2">Windows-1257</option>
                      <option value="windows-1258" data-load-encoding="2">Windows-1258</option>
                      <option value="x-mac-cyrillic" data-load-encoding="2">x-mac-cyrillic</option>
                      <option value="gbk" data-load-encoding="2">GBK</option>
                      <option value="gb18030" data-load-encoding="2">gb18030</option>
                      <option value="big5" data-load-encoding="2">Big5</option>
                      <option value="euc-jp" data-load-encoding="2">EUC-JP</option>
                      <option value="iso-2022-jp" data-load-encoding="2">ISO-2022-JP</option>
                      <option value="shift_jis" data-load-encoding="2">Shift_JIS</option>
                      <option value="euc-kr" data-load-encoding="2">EUC-KR</option>
                      <option value="x-user-defined" data-load-encoding="2">x-user-defined</option>
                    </optgroup>
                  </select>
                </div>
                <div class="setting">
                  <label for="rsa-algorithm">Algorithm</label><select
                    id="rsa-algorithm"
                    data-option="rsa-algorithm"
                    data-remember="rsa-algorithm"
                    data-share="rsa_algorithm"
                  >
                    <option value="RSA">ECB / PKCS#1</option>
                    <option value="RSAOAEP">ECB / OAEP / SHA1</option>
                    <option value="RSAOAEP224">ECB / OAEP / SHA224</option>
                    <option value="RSAOAEP256">ECB / OAEP / SHA256</option>
                    <option value="RSAOAEP384">ECB / OAEP / SHA384</option>
                  </select>
                </div>
                <div class="setting">
                  <label for="private-key">Private Key</label><textarea
                    id="private-key"
                    placeholder="Private Key"
                    data-option="private-key"
                    data-remember="private-key"
                    data-share="private_key"></textarea>
                </div>
                <div class="setting">
                  <label for="passphrase">Passphrase</label><input
                    type="text"
                    id="passphrase"
                    data-option="passphrase"
                    data-remember="passphrase"
                    data-share="passphrase"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <script is:inline>
          ++waitLoadCount;
          delayScripts.push({
            src: "/js/jsrsasign-rsa.js",
            onload: function () {
              window.method = withOptions(rsa.decrypt, ["rsa-algorithm", "private-key", "passphrase"]);
              methodLoad();
            },
          });
        </script>
        <script is:inline>
          ++waitLoadCount;
          delayScripts.push({
            src: "/js/jsrsasign-all-min.min.js",
            onload: function () {
              methodLoad();
            },
          });
        </script>
        <script is:inline>
          ++waitLoadCount;
          delayScripts.push({
            src: "/js/encoding.js?v=8",
            onload: function () {
              methodLoad();
            },
          });
        </script>
        <script is:inline>
          delayScripts.push({
            src: "/js/clipboard.min.js",
            onload: function () {
              new ClipboardJS('[data-toggle="copy"]').on("success", function (e) {
                showMessage(e.trigger.getAttribute("data-message"));
                gtag("event", "copy");
              });
            },
            delay: 100,
          });
        </script>
      </main>
    </div>
    <div id="message"></div>
  </div>
</BaseLayout>
