---
import BasePage from '../../../../../components/BasePage.astro';
import BaseSettingBlock from '../../../../../components/BaseSettingBlock.astro';
import CopyButton from '../../../../../components/CopyButton.astro';
import { languages } from '../../../../../i18n/ui';
import { useTranslations } from '../../../../../i18n/utils';

export function getStaticPaths() {
  return Object.keys(languages).map((lang) => {
    return { params: { lang } };
  });
}

const { lang = 'en' } = Astro.params;
const t = useTranslations(lang as any);

const title = t('rsa_decrypt.title');
const description = t('rsa_decrypt.description');
const activePage = 'cryptography/rsa/decrypt';
---

<BasePage title={title} description={description} activePage={activePage}>
  <div class="layout">
    <div class="layout-block">
      <div class="input">
        <div class="block block-fill">
          <div class="block-title">
            {t('input')}
            <div class="toolbar">
              <button class="icon" data-toggle="fullscreen"
                ><i class="fullscreen-icon" data-lucide="maximize" title="Full Screen"></i><i
                  class="fullscreen-icon-exit"
                  data-lucide="minimize"
                  title="Full Screen"></i></button
              >
            </div>
          </div>
          <textarea
            class="container"
            id="input"
            spellcheck="false"
            placeholder={t('enter_here')}
            data-remember="input"
            data-share="input"
            data-encoding-from="#input-type"
            data-auto-update
            data-toggle="monacoEditor"></textarea>
        </div>
      </div>
      <div class="output">
        <div class="block block-fill">
          <div class="block-title">
            {t('output')}
            <div class="toolbar">
              <CopyButton target="#output" message="Output copied" />
              <button class="icon" data-toggle="fullscreen"
                ><i class="fullscreen-icon" data-lucide="maximize" title="Full Screen"></i><i
                  class="fullscreen-icon-exit"
                  data-lucide="minimize"
                  title="Full Screen"></i></button
              >
            </div>
          </div>
          <textarea
            class="container"
            id="output"
            spellcheck="false"
            placeholder={t('output_placeholder')}
            data-encoding-from="#output-type"
            data-toggle="monacoEditor"
            readonly="readonly"></textarea>
        </div>
        <details class="block text-only" data-toggle="copyblock">
          <summary class="block-title"
            >{t('share_link')}<div class="toolbar">
              <CopyButton target="#share-link" message="Share link copied" />
            </div></summary
          >
          <input id="share-link" type="text" placeholder={t('share_link')} readonly="readonly" />
        </details>
      </div>
    </div>
    <BaseSettingBlock title={t('settings')}>
      <div class="setting"><a class="btn" id="execute">{t('decrypt')}</a></div>
      <div class="setting">
        <label class="switcher"
          ><input type="checkbox" value="1" id="auto-update" checked /><div class="toggle"></div>
          <span>{t('auto_update')}</span></label
        >
      </div>
      <div class="setting">
        <label class="switcher"
          ><input type="checkbox" value="1" id="remember-input" /><div class="toggle"></div>
          <span>{t('remember_input')}</span></label
        >
      </div>
      <div class="setting">
        <label for="input-type">{t('input_encoding')}</label><select
          data-toggle="encoding"
          id="input-type"
          data-remember="input-type"
          data-share="input_type"
          data-auto-update
        >
          <option value="hex">Hex</option>
          <option value="base64" data-load-encoding="base64">Base64</option>
        </select>
      </div>
      <div class="setting">
        <label for="output-type">{t('output_encoding')}</label><select
          data-toggle="encoding"
          id="output-type"
          data-remember="output-type"
          data-share="output_type"
          data-auto-update
        >
          <optgroup label="Binary">
            <option value="hex">Hex (Lower Case)</option>
            <option value="hex_upper">Hex (Upper Case)</option>
            <option value="base64" data-load-encoding="base64">Base64</option>
          </optgroup>
          <optgroup label="Text">
            <option value="utf-8" data-load-encoding="1" selected>UTF-8</option>
            <option value="utf-16le" data-load-encoding="1">UTF-16LE</option>
            <option value="utf-16be" data-load-encoding="1">UTF-16BE</option>
          </optgroup>
        </select>
      </div>
      <div class="setting">
        <label for="rsa-algorithm">{t('algorithm')}</label><select
          id="rsa-algorithm"
          data-option="rsa-algorithm"
          data-remember="rsa-algorithm"
          data-share="rsa_algorithm"
        >
          <option value="RSA">ECB / PKCS#1</option>
          <option value="RSAOAEP">ECB / OAEP / SHA1</option>
          <option value="RSAOAEP224">ECB / OAEP / SHA224</option>
          <option value="RSAOAEP256">ECB / OAEP / SHA256</option>
          <option value="RSAOAEP384">ECB / OAEP / SHA384</option>
        </select>
      </div>
      <div class="setting">
        <label for="private-key">{t('private_key')}</label><textarea
          id="private-key"
          placeholder={t('private_key')}
          data-option="private-key"
          data-remember="private-key"
          data-share="private_key"></textarea>
      </div>
      <div class="setting">
        <label for="passphrase">{t('passphrase')}</label><input
          type="text"
          id="passphrase"
          data-option="passphrase"
          data-remember="passphrase"
          data-share="passphrase"
        />
      </div>
    </BaseSettingBlock>
  </div>
</BasePage>

<script is:inline>
  ++waitLoadCount;
  delayScripts.push({
    src: '/js/jsrsasign-rsa.js',
    onload: function () {
      window.method = withOptions(rsa.decrypt, ['rsa-algorithm', 'private-key', 'passphrase']);
      methodLoad();
    },
  });
</script>
<script is:inline>
  ++waitLoadCount;
  delayScripts.push({
    src: '/js/jsrsasign-all-min.min.js',
    onload: function () {
      methodLoad();
    },
  });
</script>
<script is:inline>
  ++waitLoadCount;
  delayScripts.push({
    src: '/js/encoding.js?v=8',
    onload: function () {
      methodLoad();
    },
  });
</script>
