---
import BasePage from '../../../../../components/BasePage.astro';
import BaseSettingBlock from '../../../../../components/BaseSettingBlock.astro';
import CopyButton from '../../../../../components/CopyButton.astro';
import { languages } from '../../../../../i18n/ui';
import { useTranslations } from '../../../../../i18n/utils';

export function getStaticPaths() {
  return Object.keys(languages).map((lang) => {
    return { params: { lang } };
  });
}

const { lang = 'en' } = Astro.params;
const t = useTranslations(lang as any);

const title = t('rsa_key_generator.title');
const description = t('rsa_key_generator.description');
const activePage = 'cryptography/rsa/key-generator';
---

<BasePage title={title} description={description} activePage={activePage}>
  <div class="layout">
    <div class="layout-block">
      <div class="output">
        <div class="block block-fill">
          <div class="block-title">
            {t('private_key')}
            <div class="toolbar">
              <a
                class="icon"
                id="download-image"
                download="download"
                style="display:none"
                onclick="gtag('event', 'download');"
                ><i data-lucide="download" title="Download"></i></a
              >
              <CopyButton target="#output" message={t('private_key_copied')} />
              <button class="icon" data-toggle="fullscreen"
                ><i class="fullscreen-icon" data-lucide="maximize" title="Full Screen"></i><i
                  class="fullscreen-icon-exit"
                  data-lucide="minimize"
                  title="Full Screen"></i></button
              >
            </div>
          </div>
          <textarea
            class="container"
            id="output"
            spellcheck="false"
            placeholder={t('private_key_here')}
            readonly="readonly"></textarea>
        </div>
        <div class="block block-fill">
          <div class="block-title">
            {t('public_key')}
            <div class="toolbar">
              <a class="icon" id="download-public" download="public.pem" style="display:none"
                ><i data-lucide="download" title="Download"></i></a
              >
              <CopyButton target="#public-key" message={t('public_key_copied')} />
              <button class="icon" data-toggle="fullscreen"
                ><i class="fullscreen-icon" data-lucide="maximize" title="Full Screen"></i><i
                  class="fullscreen-icon-exit"
                  data-lucide="minimize"
                  title="Full Screen"></i></button
              >
            </div>
          </div>
          <textarea
            class="container"
            id="public-key"
            spellcheck="false"
            placeholder={t('public_key_here')}
            readonly="readonly"></textarea>
        </div>
        <details class="block text-only" data-toggle="copyblock">
          <summary class="block-title"
            >{t('share_link')}<div class="toolbar">
              <CopyButton target="#share-link" message={t('share_link_copied')} />
            </div></summary
          >
          <input id="share-link" type="text" placeholder={t('share_link')} readonly="readonly" />
        </details>
      </div>
    </div>
    <BaseSettingBlock title={t('settings')}>
      <div class="setting"><a class="btn" id="execute">{t('generate')}</a></div>
      <div class="setting">
        <label class="switcher"
          ><input type="checkbox" value="1" id="auto-update" checked /><div class="toggle"></div>
          <span>{t('auto_update')}</span></label
        >
      </div>
      <div class="setting">
        <label class="switcher"
          ><input type="checkbox" value="1" id="remember-input" /><div class="toggle"></div>
          <span>{t('remember_input')}</span></label
        >
      </div>
      <div class="setting">
        <label for="rsa-bits">{t('bits')}</label><input
          type="number"
          id="rsa-bits"
          data-option="rsa-bits"
          data-remember="rsa-bits"
          data-share="rsa_bits"
          min="512"
          max="4096"
          step="1"
          value="1024"
        />
      </div>
      <div class="setting">
        <label for="pem-format">{t('format')}</label><select
          id="pem-format"
          data-option="pem-format"
          data-remember="pem-format"
          data-share="pem_format"
        >
          <option value="PKCS1">PKCS#1</option>
          <option value="PKCS5">PKCS#5</option>
          <option value="PKCS8" selected>PKCS#8</option>
        </select>
      </div>
      <div class="setting" id="cipher-algorithm-block">
        <label for="cipher-algorithm">{t('cipher_algorithm')}</label><select
          id="cipher-algorithm"
          data-option="cipher-algorithm"
          data-remember="cipher-algorithm"
          data-share="cipher_algorithm"
        >
          <option value="AES-128-CBC">AES-128-CBC</option>
          <option value="AES-192-CBC">AES-192-CBC</option>
          <option value="AES-256-CBC" selected>AES-256-CBC</option>
          <option value="DES-CBC">DES-CBC</option>
          <option value="DES-EDE3-CBC">DES-EDE3-CBC</option>
        </select>
      </div>
      <div class="setting" id="passpharse-wrap">
        <div class="setting" id="passphrase-enabled-block">
          <label class="switcher"
            ><input
              type="checkbox"
              value="1"
              id="passphrase-enabled"
              data-option="passphrase-enabled"
              data-remember="passphrase-enabled"
              data-share="passphrase_enabled"
              data-toggle="toggle"
              data-target="#passphrase-block"
            /><div class="toggle"></div>
            <span>{t('passphrase')}</span></label
          >
        </div>
        <div class="setting" id="passphrase-block" style="display:none;">
          <label for="passphrase">{t('passphrase')}</label><input
            type="text"
            id="passphrase"
            data-option="passphrase"
            data-remember="passphrase"
            data-share="passphrase"
          />
        </div>
      </div>
    </BaseSettingBlock>
  </div>
</BasePage>

<script is:inline>
  ++waitLoadCount;
  delayScripts.push({
    src: '/js/jsrsasign.js',
    onload: function () {
      methodLoad();
    },
  });
</script>
<script is:inline>
  ++waitLoadCount;
  delayScripts.push({
    src: '/js/jsrsasign-all-min.min.js',
    onload: function () {
      var execute = function () {
        var bits = parseInt($('#rsa-bits').val());
        var pemFormat = $('#pem-format').val();
        var cipher = $('#cipher-algorithm').val();
        var passphraseEnabled = $('#passphrase-enabled').prop('checked');
        var passphrase = $('#passphrase').val();
        rsa
          .generate(bits, pemFormat, cipher, passphraseEnabled, passphrase)
          .then(function (prvKey) {
            $('#output').val(prvKey);
          });
      };
      ot.setExecute(execute);
      methodLoad();
    },
  });
</script>
