---
import BaseHashPage from '../../../components/BaseHashPage.astro';
import OutputEncodingSelect from '../../../components/OutputEncodingSelect.astro';
import FileTypeSelect from '../../../components/FileTypeSelect.astro';
import { languages } from '../../../i18n/ui';
import { useTranslations } from '../../../i18n/utils';

export function getStaticPaths() {
  return Object.keys(languages).map((lang) => {
    return { params: { lang } };
  });
}

const { lang = 'en' } = Astro.params;
const t = useTranslations(lang as any);
---

<BaseHashPage
  title={t('kmac128_file_hash.title')}
  description={t('kmac128_file_hash.description')}
  activePage="hash/kmac128_file_hash"
  isUseFile={true}
>
  <div class="setting">
    <label for="file-type">{t('input_type')}</label>
    <FileTypeSelect id="file-type" dataRemember="file-type" dataAutoUpdate={true} />
  </div>

  <div class="setting">
    <label for="output-type">{t('output_encoding')}</label>
    <OutputEncodingSelect id="output-type" dataShare="output_type" dataAutoUpdate={true} />
  </div>

  <div class="setting">
    <label for="bits">{t('bits')}</label>
    <input
      type="number"
      id="bits"
      data-option="bits"
      data-remember="bits-256"
      data-share="bits"
      value="256"
      step="8"
      min="8"
    />
  </div>

  <details class="setting-group" open>
    <summary>{t('hmac_key')}</summary>
    <div class="setting">
      <label for="kmac-input-type">{t('type')}</label>
      <select
        data-toggle="encoding"
        id="kmac-input-type"
        data-remember="kmac-input-type"
        data-share="kmac_input_type"
        data-auto-update
      >
        <optgroup label="Binary">
          <option value="hex">Hex</option>
          <option value="base64" data-load-encoding="base64">Base64</option>
        </optgroup>
        <optgroup label="Text">
          <option value="utf-8" selected>UTF-8</option>
          <option value="utf-16le" data-load-encoding="1">UTF-16LE</option>
          <option value="utf-16be" data-load-encoding="1">UTF-16BE</option>
        </optgroup>
      </select>
    </div>
    <div class="setting">
      <label for="kmac">{t('data')}</label>
      <input
        type="text"
        id="kmac"
        data-option="kmac"
        data-remember="kmac"
        data-share="kmac"
        data-option-type="encoding"
        data-encoding-from="#kmac-input-type"
      />
    </div>
  </details>

  <details class="setting-group" open>
    <summary>{t('customization')}</summary>
    <div class="setting">
      <label for="customization-input-type">{t('type')}</label>
      <select
        data-toggle="encoding"
        id="customization-input-type"
        data-remember="customization-input-type"
        data-share="customization_input_type"
        data-auto-update
      >
        <optgroup label="Binary">
          <option value="hex">Hex</option>
          <option value="base64" data-load-encoding="base64">Base64</option>
        </optgroup>
        <optgroup label="Text">
          <option value="utf-8" selected>UTF-8</option>
          <option value="utf-16le" data-load-encoding="1">UTF-16LE</option>
          <option value="utf-16be" data-load-encoding="1">UTF-16BE</option>
        </optgroup>
      </select>
    </div>
    <div class="setting">
      <label for="customization">{t('data')}</label>
      <input
        type="text"
        id="customization"
        data-option="customization"
        data-remember="customization"
        data-share="customization"
        data-option-type="encoding"
        data-encoding-from="#customization-input-type"
      />
    </div>
  </details>

  <!-- Load sha3 library and set window.method -->
  <script is:inline slot="scripts">
    ++waitLoadCount;
    delayScripts.push({
      src: 'https://cdnjs.cloudflare.com/ajax/libs/js-sha3/0.9.3/sha3.min.js',
      onload: function () {
        window.method = withOptions(kmac128, ['kmac', 'bits', 'customization'], 1);
        methodLoad();
      },
    });
  </script>

  <!-- Load encoding support -->
  <script is:inline slot="scripts">
    ++waitLoadCount;
    delayScripts.push({
      src: '/js/encoding.js?v=8',
      onload: function () {
        methodLoad();
      },
    });
  </script>
</BaseHashPage>
