---
import BasePage from '../../../../../components/BasePage.astro';
import BaseSettingBlock from '../../../../../components/BaseSettingBlock.astro';
import CopyButton from '../../../../../components/CopyButton.astro';
import { languages } from '../../../../../i18n/ui';
import { useTranslations } from '../../../../../i18n/utils';

export function getStaticPaths() {
  return Object.keys(languages).map((lang) => {
    return { params: { lang } };
  });
}

const { lang = 'en' } = Astro.params;
const t = useTranslations(lang as any);

const title = t('ecdsa_key_generator.title');
const description = t('ecdsa_key_generator.description');
const activePage = 'cryptography/ecdsa/key-generator';
---

<BasePage title={title} description={description} activePage={activePage}>
  <div class="layout">
    <div class="layout-block">
      <div class="output">
        <div class="block block-fill">
          <div class="block-title">
            {t('private_key')}
            <div class="toolbar">
              <a
                class="icon"
                id="download-image"
                download="download"
                style="display:none"
                onclick="gtag('event', 'download');"
                ><i data-lucide="download" title="Download"></i></a
              >
              <CopyButton target="#output" message="Private Key copied" />
              <button class="icon" data-toggle="fullscreen"
                ><i class="fullscreen-icon" data-lucide="maximize" title="Full Screen"></i><i
                  class="fullscreen-icon-exit"
                  data-lucide="minimize"
                  title="Full Screen"></i></button
              >
            </div>
          </div>
          <textarea
            class="container"
            id="output"
            spellcheck="false"
            placeholder="Private key here..."
            readonly="readonly"></textarea>
        </div>
        <div class="block block-fill">
          <div class="block-title">
            {t('public_key')}
            <div class="toolbar">
              <a class="icon" id="download-public" download="public.pem" style="display:none"
                ><i data-lucide="download" title="Download"></i></a
              >
              <CopyButton target="#public-key" message="Public Key copied" />
              <button class="icon" data-toggle="fullscreen"
                ><i class="fullscreen-icon" data-lucide="maximize" title="Full Screen"></i><i
                  class="fullscreen-icon-exit"
                  data-lucide="minimize"
                  title="Full Screen"></i></button
              >
            </div>
          </div>
          <textarea
            class="container"
            id="public-key"
            spellcheck="false"
            placeholder="Public key here..."
            readonly="readonly"></textarea>
        </div>
        <details class="block text-only" data-toggle="copyblock">
          <summary class="block-title"
            >{t('share_link')}<div class="toolbar">
              <CopyButton target="#share-link" message="Share link copied" />
            </div></summary
          >
          <input id="share-link" type="text" placeholder={t('share_link')} readonly="readonly" />
        </details>
      </div>
    </div>
    <BaseSettingBlock title={t('settings')}>
      <div class="setting"><a class="btn" id="execute">{t('generate')}</a></div>
      <div class="setting">
        <label class="switcher"
          ><input type="checkbox" value="1" id="auto-update" checked /><div class="toggle"></div>
          <span>{t('auto_update')}</span></label
        >
      </div>
      <div class="setting">
        <label class="switcher"
          ><input type="checkbox" value="1" id="remember-input" /><div class="toggle"></div>
          <span>{t('remember_input')}</span></label
        >
      </div>
      <div class="setting">
        <label for="curve">{t('curve')}</label><select
          id="curve"
          data-option="curve"
          data-remember="curve"
          data-share="curve"
        >
          <option value="secp112r1">SECG secp112r1 / WTLS wap-wsg-idm-ecid-wtls6</option>
          <option value="secp128r1">SECG secp128r1</option>
          <option value="secp192k1">SECG secp192k1 / X9.63 ansip192k1</option>
          <option value="secp192r1">SECG secp192r1 / X9.62 prime192v1 / NIST P-192</option>
          <option value="secp224r1"
            >SECG secp224r1 / X9.63 ansip224r1 / NIST P-224 / WTLS wap-wsg-idm-ecid-wtls12</option
          >
          <option value="secp256k1" selected>SECG secp256k1 / X9.63 ansip256k1</option>
          <option value="secp256r1">SECG secp256r1 / X9.62 prime256v1 / NIST P-256</option>
          <option value="secp384r1">SECG secp384r1 / X9.63 ansip384r1 / NIST P-384</option>
          <option value="secp521r1">SECG secp521r1 / X9.63 ansip521r1 / NIST P-521</option>
        </select>
      </div>
      <div class="setting">
        <label for="key-type">Output Type</label><select
          id="key-type"
          data-option="key-type"
          data-remember="key-type"
          data-share="key_type"
          data-toggle="key-type"
          data-target="#pem-block"
        >
          <option value="pem_text">Pem Text</option>
          <option value="hex">Hex</option>
          <option value="base64">Base64</option>
        </select>
      </div>
      <details class="setting-group" id="pem-block" open style="display:none">
        <summary>PEM</summary>
        <div class="setting">
          <label for="pem-format">{t('format')}</label><select
            id="pem-format"
            data-option="pem-format"
            data-remember="pem-format"
            data-share="pem_format"
          >
            <option value="PKCS1">PKCS#1</option>
            <option value="PKCS5">PKCS#5</option>
            <option value="PKCS8" selected>PKCS#8</option>
          </select>
        </div>
        <div class="setting" id="cipher-algorithm-block">
          <label for="cipher-algorithm">{t('cipher_algorithm')}</label><select
            id="cipher-algorithm"
            data-option="cipher-algorithm"
            data-remember="cipher-algorithm"
            data-share="cipher_algorithm"
          >
            <option value="AES-128-CBC">AES-128-CBC</option>
            <option value="AES-192-CBC">AES-192-CBC</option>
            <option value="AES-256-CBC" selected>AES-256-CBC</option>
            <option value="DES-CBC">DES-CBC</option>
            <option value="DES-EDE3-CBC">DES-EDE3-CBC</option>
          </select>
        </div>
        <div class="setting" id="passpharse-wrap">
          <div class="setting" id="passphrase-enabled-block">
            <label class="switcher"
              ><input
                type="checkbox"
                value="1"
                id="passphrase-enabled"
                data-option="passphrase-enabled"
                data-remember="passphrase-enabled"
                data-share="passphrase_enabled"
                data-toggle="toggle"
                data-target="#passphrase-block"
              /><div class="toggle"></div>
              <span>{t('passphrase')}</span></label
            >
          </div>
          <div class="setting" id="passphrase-block" style="display:none;">
            <label for="passphrase">{t('passphrase')}</label><input
              type="text"
              id="passphrase"
              data-option="passphrase"
              data-remember="passphrase"
              data-share="passphrase"
            />
          </div>
        </div>
      </details>
    </BaseSettingBlock>
  </div>
</BasePage>

<script is:inline>
  ++waitLoadCount;
  delayScripts.push({
    src: '/js/jsrsasign.js?v=1',
    onload: function () {
      window.method = withOptions(ecdsa.generate, [
        'curve',
        'key-type',
        'pem-format',
        'cipher-algorithm',
        'passphrase-enabled',
        'passphrase',
      ]);
      methodLoad();
    },
  });
</script>
<script is:inline>
  ++waitLoadCount;
  delayScripts.push({
    src: '/js/jsrsasign-all-min.min.js',
    onload: function () {
      methodLoad();
    },
  });
</script>
