---
import BasePage from "../../../../../components/BasePage.astro";
import BaseSettingBlock from "../../../../../components/BaseSettingBlock.astro";
import { languages } from '../../../../../i18n/ui';
import { useTranslations } from '../../../../../i18n/utils';

export function getStaticPaths() {
  return Object.keys(languages).map((lang) => {
      return { params: { lang } };
  });
}

const { lang = 'en' } = Astro.params;
const t = useTranslations(lang as any);

const title = t('ecdsa_verify.title');
const description = t('ecdsa_verify.description');
const activePage = "cryptography/ecdsa/verify";
---

<BasePage title={title} description={description} activePage={activePage}>
        <div class="layout">
          <div class="layout-block">
            <div class="input">
              <div class="block block-fill">
                <div class="block-title">
                  {t('input')}
                  <div class="toolbar">
                    <button class="icon" data-toggle="fullscreen"
                      ><i class="fullscreen-icon" data-lucide="maximize" title="Full Screen"></i><i
                        class="fullscreen-icon-exit"
                        data-lucide="minimize"
                        title="Full Screen"
                      ></i></button
                    >
                  </div>
                </div>
                <textarea
                  class="container"
                  id="input"
                  spellcheck="false"
                  placeholder={t('enter_here')}
                  data-remember="input"
                  data-share="input"
                  data-encoding-from="#input-type"
                  data-auto-update
                  data-toggle="monacoEditor"></textarea>
              </div>
            </div>
            <div class="output">
              <div class="block block-fill">
                <div class="block-title">
                  {t('output')}
                  <div class="toolbar">
                    <button class="icon" data-toggle="fullscreen"
                      ><i class="fullscreen-icon" data-lucide="maximize" title="Full Screen"></i><i
                        class="fullscreen-icon-exit"
                        data-lucide="minimize"
                        title="Full Screen"
                      ></i></button
                    >
                  </div>
                </div>
                <div class="container" id="validate-result"></div>
                <textarea
                  class="container"
                  id="output"
                  spellcheck="false"
                  placeholder={t('error_message')}
                  data-encoding-from="#output-type"
                  readonly="readonly"></textarea>
              </div>
              <details class="block text-only" data-toggle="copyblock">
                <summary class="block-title"
                  >{t('share_link')}<div class="toolbar">
                    <button class="icon" data-toggle="copy" data-clipboard-target="#share-link" data-message={t('share_link_copied')}
                      ><i data-lucide="copy" title="Copy"></i></button
                    >
                  </div></summary
                >
                <input id="share-link" type="text" placeholder={t('share_link')} readonly="readonly" />
              </details>
            </div>
          </div>
          <BaseSettingBlock title={t('settings')}>
                <div class="setting"><a class="btn" id="execute">{t('verify')}</a></div>
                <div class="setting">
                  <label class="switcher"
                    ><input type="checkbox" value="1" id="auto-update" checked /><div class="toggle"></div>
                    <span>{t('auto_update')}</span></label
                  >
                </div>
                <div class="setting">
                  <label class="switcher"
                    ><input type="checkbox" value="1" id="remember-input" /><div class="toggle"></div>
                    <span>{t('remember_input')}</span></label
                  >
                </div>
                <div class="setting">
                  <label for="input-type">{t('input_encoding')}</label><select
                    data-toggle="encoding"
                    id="input-type"
                    data-remember="input-type"
                    data-share="input_type"
                    data-auto-update
                  >
                    <optgroup label="Binary">
                      <option value="hex">Hex</option>
                      <option value="base64" data-load-encoding="base64">Base64</option>
                    </optgroup>
                    <optgroup label="Text">
                      <option value="utf-8" selected>UTF-8</option>
                      <option value="utf-16le" data-load-encoding="1">UTF-16LE</option>
                      <option value="utf-16be" data-load-encoding="1">UTF-16BE</option>
                      <option value="ibm866" data-load-encoding="2">IBM866</option>
                      <option value="iso-8859-2" data-load-encoding="2">ISO-8859-2</option>
                      <option value="iso-8859-3" data-load-encoding="2">ISO-8859-3</option>
                      <option value="iso-8859-4" data-load-encoding="2">ISO-8859-4</option>
                      <option value="iso-8859-5" data-load-encoding="2">ISO-8859-5</option>
                      <option value="iso-8859-6" data-load-encoding="2">ISO-8859-6</option>
                      <option value="iso-8859-7" data-load-encoding="2">ISO-8859-7</option>
                      <option value="iso-8859-8" data-load-encoding="2">ISO-8859-8</option>
                      <option value="iso-8859-8-i" data-load-encoding="2">ISO-8859-8-I</option>
                      <option value="iso-8859-10" data-load-encoding="2">ISO-8859-10</option>
                      <option value="iso-8859-13" data-load-encoding="2">ISO-8859-13</option>
                      <option value="iso-8859-14" data-load-encoding="2">ISO-8859-14</option>
                      <option value="iso-8859-15" data-load-encoding="2">ISO-8859-15</option>
                      <option value="iso-8859-16" data-load-encoding="2">ISO-8859-16</option>
                      <option value="koi8-r" data-load-encoding="2">KOI8-R</option>
                      <option value="koi8-u" data-load-encoding="2">KOI8-U</option>
                      <option value="macintosh" data-load-encoding="2">macintosh</option>
                      <option value="windows-874" data-load-encoding="2">Windows-874</option>
                      <option value="windows-1250" data-load-encoding="2">Windows-1250</option>
                      <option value="windows-1251" data-load-encoding="2">Windows-1251</option>
                      <option value="windows-1252" data-load-encoding="2">Windows-1252</option>
                      <option value="windows-1253" data-load-encoding="2">Windows-1253</option>
                      <option value="windows-1254" data-load-encoding="2">Windows-1254</option>
                      <option value="windows-1255" data-load-encoding="2">Windows-1255</option>
                      <option value="windows-1256" data-load-encoding="2">Windows-1256</option>
                      <option value="windows-1257" data-load-encoding="2">Windows-1257</option>
                      <option value="windows-1258" data-load-encoding="2">Windows-1258</option>
                      <option value="x-mac-cyrillic" data-load-encoding="2">x-mac-cyrillic</option>
                      <option value="gbk" data-load-encoding="2">GBK</option>
                      <option value="gb18030" data-load-encoding="2">gb18030</option>
                      <option value="big5" data-load-encoding="2">Big5</option>
                      <option value="euc-jp" data-load-encoding="2">EUC-JP</option>
                      <option value="iso-2022-jp" data-load-encoding="2">ISO-2022-JP</option>
                      <option value="shift_jis" data-load-encoding="2">Shift_JIS</option>
                      <option value="euc-kr" data-load-encoding="2">EUC-KR</option>
                      <option value="x-user-defined" data-load-encoding="2">x-user-defined</option>
                    </optgroup>
                  </select>
                </div>
                <div class="setting">
                  <label for="curve">{t('curve')}</label><select
                    id="curve"
                    data-option="curve"
                    data-remember="curve"
                    data-share="curve"
                  >
                    <option value="secp112r1">SECG secp112r1 / WTLS wap-wsg-idm-ecid-wtls6</option>
                    <option value="secp128r1">SECG secp128r1</option>
                    <option value="secp192k1">SECG secp192k1 / X9.63 ansip192k1</option>
                    <option value="secp192r1">SECG secp192r1 / X9.62 prime192v1 / NIST P-192</option>
                    <option value="secp224r1"
                      >SECG secp224r1 / X9.63 ansip224r1 / NIST P-224 / WTLS wap-wsg-idm-ecid-wtls12</option
                    >
                    <option value="secp256k1" selected>SECG secp256k1 / X9.63 ansip256k1</option>
                    <option value="secp256r1">SECG secp256r1 / X9.62 prime256v1 / NIST P-256</option>
                    <option value="secp384r1">SECG secp384r1 / X9.63 ansip384r1 / NIST P-384</option>
                    <option value="secp521r1">SECG secp521r1 / X9.63 ansip521r1 / NIST P-521</option>
                  </select>
                </div>
                <div class="setting">
                  <label for="algorithm">{t('signature_algorithm')}</label><select
                    id="algorithm"
                    data-option="algorithm"
                    data-remember="algorithm"
                    data-share="algorithm"
                  >
                    <option value="MD5">MD5</option>
                    <option value="SHA1">SHA1</option>
                    <option value="SHA224">SHA224</option>
                    <option value="SHA256" selected>SHA256</option>
                    <option value="SHA384">SHA384</option>
                    <option value="SHA512">SHA512</option>
                    <option value="RIPEMD160">RIPEMD160</option>
                  </select>
                </div>
                <details class="setting-group" open>
                  <summary>{t('public_key')}</summary>
                  <div class="setting">
                    <label for="public-key-input-type">{t('type')}</label><select
                      id="public-key-input-type"
                      data-option="public-key-input-type"
                      data-remember="public-key-input-type"
                      data-share="public_key_input_type"
                      data-toggle="key-type"
                      data-target="#passphrase-block"
                    >
                      <option value="pem_text">Pem Text</option>
                      <option value="hex">Hex</option>
                      <option value="base64">Base64</option>
                    </select>
                  </div>
                  <div class="setting">
                    <label for="public-key">{t('data')}</label><textarea
                      id="public-key"
                      placeholder={t('public_key')}
                      data-option="public-key"
                      data-remember="public-key"
                      data-share="public_key"></textarea>
                  </div>
                </details>
                <details class="setting-group" open>
                  <summary>{t('signature')}</summary>
                  <div class="setting">
                    <label for="signature-input-type">{t('type')}</label><select
                      id="signature-input-type"
                      data-option="signature-input-type"
                      data-remember="signature-input-type"
                      data-share="signature_input_type"
                      data-toggle="key-type"
                      data-target="#passphrase-block"
                    >
                      <option value="hex">Hex</option>
                      <option value="base64">Base64</option>
                    </select>
                  </div>
                  <div class="setting">
                    <label for="signature">{t('data')}</label><textarea
                      id="signature"
                      placeholder={t('signature')}
                      data-option="signature"
                      data-remember="signature"
                      data-share="signature"></textarea>
                  </div>
                </details>
              </div>
            </div>
          </div>
        </div>
        <script is:inline>
          ++waitLoadCount;
          delayScripts.push({
            src: "/js/jsrsasign.js?v=1",
            onload: function () {
              window.method = withOptions(ecdsa.verify, [
                "curve",
                "public-key-input-type",
                "public-key",
                "algorithm",
                "signature-input-type",
                "signature",
              ]);
              methodLoad();
            },
          });
        </script>
        <script is:inline>
          ++waitLoadCount;
          delayScripts.push({
            src: "/js/jsrsasign-all-min.min.js",
            onload: function () {
              methodLoad();
            },
          });
        </script>
        <script is:inline>
          ++waitLoadCount;
          delayScripts.push({
            src: "/js/encoding.js?v=8",
            onload: function () {
              methodLoad();
            },
          });
        </script>
        <script is:inline>
          delayScripts.push({
            src: "/js/clipboard.min.js",
            onload: function () {
              new ClipboardJS('[data-toggle="copy"]').on("success", function (e) {
                showMessage(e.trigger.getAttribute("data-message"));
                gtag("event", "copy");
              });
            },
            delay: 100,
          });
        </script>
        <script is:inline>
          ++waitLoadCount;
          delayScripts.push({
            src: "/js/validator.js",
            onload: function () {
              methodLoad();
            },
          });
        </script>
  </BaseSettingBlock>
</BasePage>
