---
import CopyButton from './CopyButton.astro';
import FullscreenButton from './FullscreenButton.astro';

interface Props {
  title: string;
  showFullscreen?: boolean;
  showCopy?: boolean;
  copyTarget?: string;
  copyMessage?: string;
}

const {
  title,
  showFullscreen = true,
  showCopy = false,
  copyTarget,
  copyMessage = 'Copied',
} = Astro.props;
---

<div class="input">
  <div class="block block-fill">
    <div class="block-title">
      {title}
      <div class="toolbar">
        {showCopy && copyTarget && <CopyButton target={copyTarget} message={copyMessage} />}
        {showFullscreen && <FullscreenButton />}
      </div>
    </div>
    <slot />
  </div>
</div>
