---
// No props needed - fullscreen button is generic
---

<button class="icon" data-toggle="fullscreen">
  <i class="fullscreen-icon" data-lucide="maximize" title="Full Screen"></i>
  <i class="fullscreen-icon-exit" data-lucide="minimize" title="Full Screen"></i>
</button>
