---
import BaseFileHashPage from "../../components/BaseFileHashPage.astro";
---

<BaseFileHashPage
  title="SHAKE256 File Hash"
  description="This SHAKE256 online tool helps you calculate the hash of a file from local or URL using SHAKE256 without uploading the file."
  activePage="hash/shake_256_checksum"
>
  <div class="setting">
    <label for="bits">Output Bits</label>
    <input type="number" id="bits" data-option="bits" data-remember="bits-512" data-share="bits" value="512" step="8" min="8" />
  </div>

  <script is:inline slot="algorithm-script">
    ++waitLoadCount;
    delayScripts.push({
      src: "https://cdnjs.cloudflare.com/ajax/libs/js-sha3/0.9.3/sha3.min.js",
      onload: function () {
        window.method = withOptions(shake_256, ["bits"]);
        methodLoad();
      },
    });
  </script>
</BaseFileHashPage>
