---
const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="content-language" content="en">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{title || 'Web Tools'}</title>
  <base href="./">
  <meta name="keywords" content="online,md5,sha1,sha256,sha,sha512,sha3,keccak,shake,base64,base32,syntax highlight,crc-32,crc-16,md2,md4,htmlencode,htmldecode,urlencode,urldecode,json,xml.qr code,free">
  <meta name="author" content="webtool">
  <meta name="copyright" content="webtool">
  <meta name="description" content={description || "Online tools offer many functions for hashing, encoding, decoding, encryption, decryption, formatting, generating and so on. Examples include MD5, SHA-256, SHA-512, SHA-3, Keccak, Base64, Base32, JSON, XML, and QR code related tools."}>
  <meta property="og:type" content="website">
  <meta property="og:title" content={title || 'Web Tools'}>
  <meta property="og:url" content="https://webtool.center/">
  <meta property="og:site_name" content="Web Tools">
  <meta property="og:description" content={description || "Online tools offer many functions for hashing, encoding, decoding, encryption, decryption, formatting, generating and so on. Examples include MD5, SHA-256, SHA-512, SHA-3, Keccak, Base64, Base32, JSON, XML, and QR code related tools."}>
  <meta property="og:locale" content="en">
  <meta property="og:image" content="https://webtool.center/images/logo.svg">
  <meta property="article:author" content="webtool">
  <meta property="article:tag" content="online,md5,sha1,sha256,sha,sha512,sha3,keccak,shake,base64,base32,syntax highlight,crc-32,crc-16,md2,md4,htmlencode,htmldecode,urlencode,urldecode,json,xml.qr code,free">
  <meta property="twitter:card" content="summary">
  <meta property="twitter:image" content="https://webtool.center/images/logo.svg">
  <link rel="canonical" href="https://webtool.center/">
  <link rel="alternate" hreflang="en" href="https://webtool.center/">
  <link rel="alternate" hreflang="vi" href="https://webtool.center/vi/">
  <link rel="alternate" hreflang="zh" href="https://webtool.center/zh/">
  <link rel="alternate" hreflang="hi" href="https://webtool.center/hi/">
  <link rel="alternate" hreflang="es" href="https://webtool.center/es/">
  <link rel="alternate" hreflang="fr" href="https://webtool.center/fr/">
  <link rel="alternate" hreflang="pt" href="https://webtool.center/pt/">
  <link rel="alternate" hreflang="ja" href="https://webtool.center/ja/">
  <link rel="alternate" hreflang="x-default" href="https://webtool.center/">
  <link rel="icon" href="/images/logo.svg">
  <script is:inline>
    var delayScripts = [];
    var waitLoadCount = 0;
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    if (location.hostname != 'localhost') {
      gtag('js', new Date());
      gtag('config', 'G-5FCSDZEKE9');

      (function () {
        var gaUrl = 'https://www.googletagmanager.com/gtag/js?id=G-5FCSDZEKE9';

        function initGTMOnEvent(e) {
          document.removeEventListener(event.type, initGTMOnEvent);
          initGTM();
        }

        function initGTM() {
          if (window.gtmDidInit) {
            return;
          }
          window.gtmDidInit = true;
          var script = document.createElement('script');
          script.async = true;
          script.src = gaUrl;
          document.head.appendChild(script);
        }

        if (document.addEventListener) {
          document.addEventListener('DOMContentLoaded', function () {
            setTimeout(initGTM, 3500);
          });
          document.addEventListener('scroll', initGTMOnEvent);
          document.addEventListener('mousemove', initGTMOnEvent);
          document.addEventListener('touchstart', initGTMOnEvent);
        } else {
          delayScripts.push({
            src: gaUrl
          });
        }
      })();
    }

    if (localStorage.getItem('DARK') === '1') {
      document.documentElement.classList.add('dark-theme')
    }
  </script>
  <link rel="stylesheet" href="/css/style.css?v=27">
</head>
<body>
  <slot />
  <script src="https://code.jquery.com/jquery-1.10.1.min.js" defer></script>
  <script src="/js/main.js?v=41" defer></script>
</body>
</html>
